.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 
.rebar3
_build/
_checkouts/

# Sony Vegas
gradle.config
cargo.toml
go.mod

# RFC 8259
*
!*